/*
	version: 1.0
	author:  Raul Garcia Fonseca
	date:	 20150618
*/


/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");


/***************************** 
      ClearFix
*******************************/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* CONTAINER */

#container {
	width: 900px;
	min-height: 700px;
	margin: 0 auto; /*lo centramos en la pagina */
	padding-top: 20px;
}

#cont_entrada {
	border: 1px solid black;
	display: block;
	height: 400px;
	width: 300px;
	background-image: url("../img/cine.jpg");
	background-repeat: no-repeat;
	background-size: 300px 400px;
	margin: 0 auto;
}

#cont_entrada h1 {
	color: #68B5C7;
	font-size: 20px;
	font-family: arial;
	text-align: center;
	margin-top:10px;
}

#listaDias, #edad {
	background-color: black;
	color: white;
	border:1px solid black;
}

#dia_sem {
	float: left;
	width: 135px;
	margin-left: 35px;
	margin-top:10px;
}

#dia_sem #l_dia {
	font-weight: bold;
}

#cont_edad {
	float: left;
	margin-top: 12px;
}

#cont_edad #l_edad {
	margin-right: 10px;
}

#p_precio {
	margin-top: 280px;
	margin-left: 20px;
	font-size: 20px;
	font-family: arial;
	color: white;
	float: left;
}

#precio  {
	margin-top: 250px;
	margin-left: -120px;
	float: right;
	font-size: 90px;
	color: white;
	position: absolute;
	text-align: right;
	width: 140px;
}